html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
    height: 100%;
    width:95%;
    margin:0 auto;
    display:grid;
    grid-template-rows: 150px 1fr 40px;
    grid-template-columns: auto auto;
    text-align: center;
}
.container .header{
    width:90%;
    margin:0 auto;
    grid-column: 1/-1;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .header .logo{
    text-align: center;
    color: #0066FF; 
  	font-family:arial; 
  	font-size: 50px;
}
.container .header .search input{
    width: 400px;
    padding: 10px;
}
.container .header .search input , button{
    flex-grow: 1;
    border: none;
    border: 1px rgba(166,166,166) solid;
    border-radius: 5px;
    height: 30px;
}
.container .header .search button{
    background-color: rgb(152, 152, 199);
}
.container .header .search button:hover , a:hover{
    font-weight: bold;
    cursor: pointer;
}
.container .header .image{
    position: relative;
}
.container .header .image img{
    position:absolute;
    margin-top:-20px;
    margin-left: -55px;
    border-radius: 50%;
}
.container .bookings{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;
    border: 1px rgba(166,166,166) solid;
    padding: 10px;
}
ul li{
    font-weight: bolder;
    text-transform: uppercase;
}
ul li ul{
    display: flex;
    flex-direction: column;
    border: none;
}
ul li ul li{
    border: 1px rgba(166,166,166) solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-weight: normal;
    text-transform: none;
}
.container .trips{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.container .footer{
    grid-column: 1/-1;
    background-color: rgb(187, 179, 179);
    padding-bottom: 5px;
    padding-top: 15px;
    
}
a{
    text-decoration: none;
    color:blue;
}
ul{
    list-style: none;
}
@media(max-width:992px){
    html,body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }
    .container{
        height:100%;
        width: 100%;
        margin:0 auto;
        display: grid;
        grid-template-rows: 200px 1fr 1fr;/*here*/
        grid-template-columns: 650px;/*here*/
    }
    .container .header{
        display: flex;
        flex-direction: column;
    }
    .container .header .logo{
        margin-left: -70px;
    }
    .container .header .search{
        order: 1;
    }
    .container .bookings{
        grid-column: 1/-1;
    }
    .container .trips{
        grid-column: 1/-1;
    }

}
@media(max-width:480px){
    html,body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }
    .container{
        height:100%;
        width: 450px;
        margin:0 auto;
        display: grid;
        grid-template-rows: 200px 1fr 1fr;
    }
    .container .header{
        display: flex;
        flex-direction: column;
    }
    .container .header .logo{
        margin-left: -70px;
    }
    .container .header .search{
        order: 1;
    }
    .container .bookings{
        grid-column: 1/-1;
    }
    .container .trips{
        grid-column: 1/-1;
    }

}